@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

.nav-tabs li.disabled a {
    pointer-events: none;
}

/* .c-logo > img{
  width: 98px;
  height: 51px;
  object-fit: cover;  
} */

.btn-filtrar{
	margin-top: 1em;
	margin-bottom: 1em;
}

.span-disabled{
	pointer-events: none;
	cursor: default;
}

.pf-field > input, .pf-field > textarea {
	margin-bottom: 0;
}

.pf-field > span {
	color: #ff9200;
	font-size: 14px;
}

/**
 * Set default style for invalid elements.
 */
:not(output):-moz-ui-invalid {
  box-shadow: 0 0 1.5px 1px #ff9200;
}

.coverletter-sec > form > span{
	color: #ff9200;
}


/* boton de google */
.login-social a.gg-login {
    color: #d5472c;
    border-color: #d5472c;
}

.login-social a.gg-login:hover{
    background: #d5472c;
    border-color: #d5472c;  
    color: #ffffff;
}






/* Range */
input[type=range].slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 5.6px 0;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 13.8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(244, 245, 250, 0), 0px 0px 0px rgba(255, 255, 255, 0);
  background: #f4f5fa;
  border-radius: 25px;
  border: 0px solid rgba(244, 245, 250, 0);
}
input[type=range].slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(255, 146, 0, 0), 0px 0px 0px rgba(255, 157, 26, 0);
  border: 0px solid rgba(255, 146, 0, 0);
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background: #ff9200;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.6px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #f4f5fa;
}
input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 13.8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(244, 245, 250, 0), 0px 0px 0px rgba(255, 255, 255, 0);
  background: #f4f5fa;
  border-radius: 25px;
  border: 0px solid rgba(244, 245, 250, 0);
}
input[type=range].slider::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(255, 146, 0, 0), 0px 0px 0px rgba(255, 157, 26, 0);
  border: 0px solid rgba(255, 146, 0, 0);
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background: #ff9200;
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  width: 100%;
  height: 13.8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].slider::-ms-fill-lower {
  background: #f4f5fa;
  border: 0px solid rgba(244, 245, 250, 0);
  border-radius: 50px;
  box-shadow: 0px 0px 0px rgba(244, 245, 250, 0), 0px 0px 0px rgba(255, 255, 255, 0);
}
input[type=range].slider::-ms-fill-upper {
  background: #f4f5fa;
  border: 0px solid rgba(244, 245, 250, 0);
  border-radius: 50px;
  box-shadow: 0px 0px 0px rgba(244, 245, 250, 0), 0px 0px 0px rgba(255, 255, 255, 0);
}
input[type=range].slider::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(255, 146, 0, 0), 0px 0px 0px rgba(255, 157, 26, 0);
  border: 0px solid rgba(255, 146, 0, 0);
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background: #ff9200;
  cursor: pointer;
  height: 13.8px;
}
input[type=range].slider:focus::-ms-fill-lower {
  background: #f4f5fa;
}
input[type=range].slider:focus::-ms-fill-upper {
  background: #f4f5fa;
}
/* fin Range */



.seleccionado {
  /* color: #8b91dd; */
  color: red;
}


.alert {
  display:inline-block;
  font-family: 'Questrial' !important;
}

.job-details-m {
    float: left;
    width: 100%;
    padding-top: 20px;
}
.job-details-m h3 {
    float: left;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    color: #202020;
    margin-bottom: 15px;
    margin-top: 10px;
}
.job-details-m p,
.job-details-m li {
    float: left;
    width: 100%;
    font-size: 14px;
    color: #888888;
    line-height: 24px;
    margin: 0;
    margin-bottom: 19px;
}
.job-details-m > ul {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.job-details-m > ul li {
    float: left;
    width: 100%;
    margin: 0;
        margin-bottom: 0px;
    position: relative;
    padding-left: 23px;
    line-height: 21px;
    margin-bottom: 10px;
    font-size: 13px;
    color: #888888;
}
.job-details-m > ul li::before {
    position: absolute;
    left: 0;
    top: 13px;
    width: 10px;
    height: 1px;
    background: #888888;
    content: "";
}

.required{
  color: #ff9200;
  font-size: 1.5em;
}

.boton-normal {
    float: left;
    width: 30%;
    height: 40px;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0.3px;
    margin-top: 20px;
    background: #0f36a5;
    
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;

}

.boton-normal:hover {
    background: #ff9200;
}

.font-likes{
  font-size: 14px;
  margin-left: 1em;
  color: #8b91dd;
  margin-top: 5px;
}

.job-title2 > .me-gusta > a > i {
    transform: translate(0,-5px);
    -webkit-transform: translate(0,-5px); /** Chrome & Safari **/
    -o-transform: translate(0,-5px); /** Opera **/
    -moz-transform: translate(0,-5px); /** Firefox **/

    float: left;
    font-size: 30px;
    /* color: #B8B8B8; */
    color: #ff9200;
    margin: 1px 0;
}

.commentform-sec > form {
    padding-right: 0px;
}


.my-profiles-message > img {
    float: left;
    
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;

    border: 2px solid #ffffff;
    margin-right: 18px;
}

/* listado de usuarios en mensajes */
.no-pad{
  padding : 0;
}

/* Boton deshabilitado */
.profile-form-edit > form button:disabled {
    float: right;
    background: #e8ecec;
    border: 2px solid #e8ecec;
    color: #ffffff;
    font-family: 'Questrial' !important;
    font-size: 15px;
    padding: 11px 40px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    margin-top: 10px;
    cursor: default;
}

/* parrafo de mensaje */
.table-list-title > p {
    float: left;
    width: 100%;
    font-size: 13px;
    color: 
    #888888;
    line-height: 24px;
    margin: 0;
        margin-top: 0px;
    margin-top: 4px;
}


/* el footer */
/* .bottom-line {
  background: #ffca45;
}

footer {
    background: #ff9200;
}
 */

.modal{
    background: rgba(20,31,114,0.6);
}

.close-b .close-popup{
    position: absolute;
    top: -20px;
    width: 50px;
    height: 50px;
    float: none;
    margin: 0;
    right: -20px;
    text-align: center;
    line-height: 50px;
    color: #ffffff;
    font-size: 20px;
    
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;

    cursor: pointer;
    background-color: #ff9200;

}

button{
  background: transparent;
}


.modal-content > h3 {
    float: left;
    width: 100%;
    font-family: 'Questrial' !important;
    color: #222222;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 12px;
    line-height: 10px;
    text-align: center;
}

.modal.and.carousel {
  position: fixed;
}

.profile-sidebar{
  z-index: 100;
}

/* boton input file */
/* .inputfile {
  float: left;
  font-family: 'Questrial' !important;
  font-size: 15px;
  color: #ff9200;
  border: 2px solid #ff9200;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  padding: 10px 40px;


  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile:hover {
    background-color: red;
} */


header.style3 nav > ul > li > a {
    color: #fff;
}

header.style31 nav > ul > li > a {
    color: #252d5f;
}

.dropzone {
    min-height: 200px;
    max-width: 400px;
    border: 2px solid #e8ecec;
    border-radius: 8px;
    background: #e8ecec;
    padding: 20px 20px;
}

.dropzone .dz-preview.dz-image-preview {
    background: transparent;
}

.dropzone .dz-preview .dz-image {
    border-radius: 8px;
}

.message-file {
    color: #1e83f0;
    font-family: 'Questrial' !important;
    font-weight: 500;
    font-size: 13px;
    margin-top: 1px;
}



footer.style2 {
    background: #252d5f;
}

footer .blanco span{
  color:#fff;
}


/* pagination */
.page-item.active .page-link {
    background-color: #8b91dd;
    border-color: #8b91dd;
}

.pagination li.active a, .pagination li a:hover {
    background-color: #252d5f;
    border-color: #252d5f;
}

.chat-button{
  float: right;
  background: #ffffff;
  border: 2px solid #ff9200;
  color: #202020;
  font-family: 'Questrial' !important;
  font-size: 15px;
  padding: 11px 40px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  margin-top: 10px;
} 
.chat-button:disabled {

    float: right;
    background: #e8ecec;
    border: 2px solid #e8ecec;
    color: #ffffff;
    font-family: 'Questrial' !important;
    font-size: 15px;
    padding: 11px 40px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    margin-top: 10px;
    cursor: default;

}


/* Como funciona */
 .how-workimg:before{
/*  background: linear-gradient(45deg, rgba(255,146,0,1) 0%,rgba(255,14,0,1) 44%,rgba(20,31,114,1) 100%);*/
background: linear-gradient(45deg, rgba(251,35,106,1) 0%,rgba(251,35,106,1) 44%,rgba(255,146,0,1) 100%);
} 



.link-canje {
    font-family: 'Questrial' !important;
    text-decoration: none;
    line-height: 30px;
    color: #ff9200;
}


/* =================== RATING =================== */
.star-rating {
  line-height:32px;
  font-size:1.25em;
  max-height: 20%;
}

.star-rating .la-star{color: #ff9200;}
/* =================== RATING =================== */